/* @font-face {
    font-family: ubuntu-regular;
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
} */
body{
    background-color: rgb(238,245,255);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    /* border: 1px solid black; */
}
.line-height{
    line-height: 1.5em;
}
.body-content-container{
    flex-basis: 70%;
    height: 75%;
    /* border: 1px solid black; */
    /* box-shadow: ; */
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-content-elements{
    height: 95%;
}
.body-content-elements div{
    /* border: 1px solid black; */
}
.sidebar{
    flex-basis: 26.5%;
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    border-radius: 10px;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    /* object-fit: cover; */
    background-size: 100% 100%;
}
.sidebar div{
    /* border: 1px solid black;     */
}
.sidebar-contents{
    margin-top: 20px;
    flex-basis: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    /* border: 1px solid white;  */
}
.sidebar-elements{
    flex-basis: 100%;
    height: 24%;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    column-gap: 20px;
    color: white;
    text-transform: uppercase;
}
.sidebar-index{
    flex-basis: 14%;
    height: 45%;
    border: 1px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    box-sizing: border-box;
    border-radius: 50%;
}
.sidebar-index-text{
    flex-basis: 50%;
    height: 50%;
}
.sidebar-steps{
    /* border: 1px solid black; */
    flex-basis: 60%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
}
.sidebar-steps div{
    flex-basis: 100%;
    height: 40%;
    /* border: 1px solid black; */
}
.first-index{
    background-color: #BEE1FC;
    color: black;
}
.sidebar-steps-one{
    font-size: 13px;
    color: hsl(229, 24%, 87%);
}
.sidebar-steps-two{
    font-weight: bold;
    font-size: 15px;
    color: hsl(217, 100%, 97%);
}
.content{
    flex-basis: 70%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
.content-elements{
    /* border: 1px solid black; */
    flex-basis: 70%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
} 
.content-steps{
    flex-basis: 100%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* align-content: start; */
}
.content-first div{
    /* border: 1px solid black; */
}
.content-headers{
    flex-basis: 100%;
    height: 15%;
    /* border: 1px solid black; */
    display: flex;  
    align-self: start;
    align-content: start;
    flex-wrap: wrap;
    row-gap: 0;
}
.content-headers div{
    /* border: 1px solid black; */
}
.content-headers-first{
    flex-basis: 100%;
    height: 60%;
    font-size: 32px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
}
.content-headers-second{
    flex-basis: 100%;
    height: 30%;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
    font-size: 18px;
}
.personal_details{
    flex-basis: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-self: start;
    align-items: end;
    row-gap: 20px;
    /* border: 1px solid black; */
}
.personal_details div{
    /* border: 1px solid black; */
}
.content-contents{
    flex-basis: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* align-content: ; */
}
.content-contents div{
    /* border: 1px solid black; */
}
.content-contents-first{
    /* font-size: px; */
    flex-basis: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.content-contents-first-first{
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    flex-basis: 30%;
    height: 100%;
}
.content-contents-first-second{
    /* flex-basis: 30%; */
    height: 100%;
    /* text-align: center; */
    color: red;
    display: none;
}
.content-contents-second{
    flex-basis: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid rgb(221, 219, 219); */
}
.inputs{
    flex-basis: 100%;
    height: 100%;
    padding-left: 20px;
    /* border-color: rgb(221, 219, 219); */
    border: 1px solid rgb(221, 219, 219);
    border-radius: 10px;
    /* border: none; */
    outline: none;
    font-size: 18px;
}
.inputs:focus{
    border: 1px solid hsl(243, 100%, 62%);
}
.content-second, .content-third, .content-fourth, .content-fifth{
    display: none;
}
.content-buttons{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 20%;
    /* border: 1px solid black; */
}
.content-buttons div{
    /* border: 1px solid black; */
}
.content-buttons-first{
    flex-basis: 20%;
    height: 25%;
    font-size: 20px;
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}
.content-buttons-second{
    flex-basis: 22%;
    height: 40%;
    background-color: #03295A;
    color: hsl(229, 24%, 87%);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-left: 35px; */
    /* margin: auto; */
    /* padding-left: 30px;
    padding-top: 15px; */
    /* box-sizing: border-box; */
}
.content-buttons-second, .content-buttons-first:hover{
    cursor: pointer;
}
.next-step-first-container{
    /* border: 1px solid black; */
    height: 10%;
    flex-basis: 100%;
    display: flex;
    align-self: end;
    justify-content: end;
    align-items: end;
}
.next-step-second-container, .next-step-third-container, .next-step-fourth-container{
    display: none;
}
.next-step-first{
    height: 80%;
}
.content-steps div{
    /* border: 1px solid black; */
}
.content-second{
    align-self: start;
    /* border: 1px solid black; */
}
.content-second-contents{
    flex-basis: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}
.content-second-contents div{
    /* border: 1px solid black; */
}
.content-second-contents-options{
    flex-basis: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.content-second-contents-options-elements{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid rgb(221, 219, 219);
    justify-content: center;
    align-content: center;
}
.content-second-contents-options-elements:hover{    
    cursor: pointer;
    border: 1px solid hsl(243, 100%, 62%);
}
.content-second-contents-options-elements div{
    /* border: 1px solid black; */
}
.options-img{
    flex-basis: 80%;
    height: 35%;
    /* border: 1px solid black; */
    /* padding-top: 5%; */
    display: flex;
    /* align-items: center; */
    /* object-fit: contain; */
}
.options-img img{
    /* border: 1px solid black; */
    /* size: 200% 200%; */
    height: 65%;
    flex-basis: 31%;
    size: 100% 100%;
}
.plan-details{
    flex-basis: 80%;
    height: 40%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    row-gap: 10px;
    /* justify-conten; */
}
.plan-details div{
    /* border: 1px solid black; */
}
.options-header{
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    font-size: 20px;
    flex-basis: 80%;
    height: 23%;
}
.options-month-rate{
    flex-basis: 80%;
    font-size: 18px;
    height: 23%;
    color: hsl(231, 11%, 63%);
    display: flex;
}
.options-year-rate{
    flex-basis: 80%;
    font-size: 18px;
    height: 23%;
    color: hsl(231, 11%, 63%);
    display: none;
}
.options-year-offer{
    flex-basis: 80%;
    font-size: 16px;
    height: 23%;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    display: none;
}
.content-second-contents-time{
    background-color: rgb(238,245,255);
    flex-basis: 100%;
    height: 17%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan_message_container{
    flex-basis: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.plan_message{
    /* flex-basis: 45%; */
    height: 70%;
    text-align: center;
    font-size: 25px;
    color: red;
    /* border: 1px solid black; */
    display: none;
}
.content-second-contents-time div{
    /* border: 1px solid black; */
}
.monthly, .yearly{
    flex-basis: 20%;
    height: 42%;
    font-size: 20px;
    text-align: center;
    color: hsl(231, 11%, 63%);
    font-weight: 700;
}
.monthly{
    color: hsl(213, 96%, 18%);
}
.toggle{
    flex-basis: 7%;
    height: 42%;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    flex-basis: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }
  .switch div{
    /* border: 1px solid black; */
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #03295A;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 75%;
    width: 35%;
    left: 10%;
    top: 13%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #03295A;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    /* -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px); */
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.content-third{
    /* border: 1px solid black; */
    /* align-contnet: start; */
}
.third-contents{
    height: 20%;
    border: 1px solid rgb(221, 219, 219);
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid black; */
}
.third-contents:hover{
    cursor: pointer;
    border: 1px solid hsl(243, 100%, 62%);
}
.third-contents div{
    /* border: 1px solid black; */
}
.content-contents-container{
    flex-basis: 95%;
    height: 55%;
    /* border: 1px solid black; */
    display: flex;
}
.content-contents-container div{
    /* border: 1px solid black; */
}
.content-contents-first-check{
    flex-basis: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addons-checkbox{
    flex-basis: 40%;
    height: 40%;
}
.content-contents-first-text{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-basis: 70%;
    row-gap: 10px;
}
.content-contents-first-text-first{
    flex-basis: 90%;
    height: 30%;
    font-size: 19px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    /* border: 1px solid black; */

}
.content-contents-first-text-second{
    flex-basis: 90%;
    height: 35%;
    color: hsl(231, 11%, 63%);
    font-size: 17px;
    /* border: 1px solid black; */

}
.content-contents-first-price{
    flex-basis: 20%;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}
.price-container{
    /* flex-basis: 60%; */
    height: 30%;
    display: flex;
    /* border: 1px solid black; */
}
.price-monthly{
    flex-basis: 100%;
    height: 100%;
    color: hsl(243, 100%, 62%);
    /* font-size: 20px; */
    text-align: center;
    display: flex;
}
.price-yearly{
    flex-basis: 100%;
    height: 100%;
    color: hsl(243, 100%, 62%);
    /* font-size: 20px; */
    text-align: center;
    display: none;
}
.content-fourth{
    /* border: 1px solid black; */
    align-items: start;
    /* row-gap: 30px; */
}
.content-headers{
    /* border: 1px solid black; */
}
.content-fourth-contents{
    flex-basis: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    row-gap: 40px;
    /* border: 1px solid black; */
}
.content-fourth-contents div{
    /* border:1px solid black; */
}
.content-fourth-contents-items-container{
    background-color: rgb(238,245,255);
    flex-basis: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    align-content: start;
    row-gap: 30px;
    /* border: 1px solid black;     */
}
.content-fourth-contents-items-container div{
    /* border: 1px solid black; */
}
.final-plan-container{
    flex-basis: 90%;
    height: auto;
    display: flex;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    border-bottom: 1px solid hsl(229, 24%, 87%);
    /* border: 1px solid black; */
    padding-top: 30px;
    padding-bottom: 30px;
    /* row-gap: 20px; */
    /* align-items: center; */
    justify-content: space-between;
    /* display: none; */
}
.final-plan-container div{
    /* border: 1px solid black; */
}
.final-plan{
    flex-basis: 50%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    /* border: 1px solid black; */
}
.final-plan div{
    flex-basis: 100%;
    height: 40%;
    /* border: 1px solid black; */
}
.final-plan-header-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    column-gap: 5px;
    /* border: 1px solid black; */
}
.final-plan-header-container div{
    /* border: 1px solid black; */
    flex-basis: auto;
    height: 90%;
    font-size: 19px;
    /* text-align: center; */
}
.final-plan-option{
    font-size: 16px;
    text-decoration: underline;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}
.final-plan-option:hover{
    cursor: pointer;
    color: hsl(243, 100%, 62%);
}
.final-plan-rate-container{
    flex-basis: 35%;
    height: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid black; */
}
.final-plan-rate{
    /* flex-basis: 28%; */
    height: auto;
    font-size: 18px;
    /* border: 1px solid black; */
    /* font-weight: 700; */
}
.final-plan-addons-container{
    flex-basis: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    /* margin-bottom: 10px;  */
    /* border: 1px solid black; */
    /* display: none; */
}
.plan_addon_container{
    flex-basis: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    /* border: 1px solid black; */
    display: flex;
}
.plan_addon_container div{
    /* border: 1px solid black; */
}
.plan_addon_name{
    flex-basis: 30%;
    height: 100%;
    color: hsl(231, 11%, 63%);
}
.plan_addon_rate_container{
    flex-basis: 15%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}
.content-fourth-contents-total{
    flex-basis: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.content-fourth-contents-total div{
    /* border: 1px solid black; */
}

.total{
    flex-basis: 50%;
    height: 90%;
    font-size: 17px;
    display: flex;
    color: hsl(231, 11%, 63%);
    /* font-weight: 700; */
    column-gap: 5px;
    /* border: 1px solid black; */
    /* text-align: end; */
}   
.total-price-container{
    flex-basis: 30%;
    height: 90%;
    font-size: 25px;
    color:hsl(243, 100%, 62%);
    font-weight: 700;
    display: flex;
    justify-content: end;
    align-items: center;
}
.total-price{
    flex-basis: 60%;
    height: 90%;
    text-align: end;
}
.next-step-fourth{
    background-color: hsl(243, 100%, 62%);
    color: hsl(229, 24%, 87%);
}
.content-fifth{
    height: 100%;
    flex-basis: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-fifth div{
    /* border: 1px solid black; */
}
.content-fifth-container{
    flex-wrap: wrap;
    flex-basis: 100%;
    height: 50%;
    display: flex;
}
.content-fifth-container div{
   flex-basis: 100%;
}
.content-fifth-img-container{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-fifth-header{
    height: 15%;
    font-size: 40px;
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    text-align: center;
}
.content-fifth-text{
    height: 30%;
    text-align: center;
    font-size: 22px;
    color: hsl(231, 11%, 63%);
    font-weight: 500;
}
@media(max-width: 500px){
    .body-content-container{
        flex-basis: 100%;
        height: 100%;
        background-color: transparent;
        justify-content: center;
        align-content: start;
        border-radius: 0px;
        flex-wrap: wrap;
        /* border: 1px solid black; */
    }
    .sidebar{
        flex-basis: 100%;
        height: 200px;
        border-radius: 0px;
        background-image: url('./assets/images/bg-sidebar-mobile.svg');
        /* background-position: 50% 10%; */
        /* border: 1px solid black; */
        /* object-fit: cover; */
        background-size: cover;
    }
    .sidebar div{
        /* border: 1px solid black;     */
        /* display: none; */
    }
    .sidebar-contents{
        margin-top: 10px;
        flex-basis: 60%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
    .sidebar-elements{
        flex-basis: 12%;
        height: 30%;
        align-items: center;
    }
    .sidebar-index{
        flex-basis: 100%;
        height: 100%;
    }
    .sidebar-index-text{
        font-size: 15px;
    }
    .sidebar-steps{
        display: none;
    }
    .first-index{
        background-color: #BEE1FC;
        color: black;
    }
    .content{
        flex-basis: 100%;
        height: 85%;
        display: flex;
        /* flex-grow: 1; */
        justify-content: center;
        align-items: start;
        background-color: transparent;
        margin-top: -80px;
        border-radius: 10px;
        /* border: 1px solid black; */
        flex-wrap: wrap;
        /* display: none; */
    }
    .content-elements{
        /* border: 1px solid black; */
        /* background-color: white; */
        flex-basis: 100%;
        height: 100%;
        /* border-radius: 10px; */
        justify-content: center;
        align-content: space-between; 
        display: flex;
    } 
    .content-first div{
        /* border: 1px solid black; */
        /* background-color: white; */
    }
    .content-headers{
        height: 22%;
        flex-basis: 90%;
        margin-top: 30px;
        row-gap: 0;
    }
    .content-headers div{
        /* border: 1px solid black; */
    }
    .content-headers-first{
        flex-basis: 100%;
        height: 40%;
        font-size: 28px;
        color: hsl(213, 96%, 18%);
        font-weight: 700;
    }
    .content-headers-second{
        flex-basis: 80%;
        height: 40%;
        color: hsl(231, 11%, 63%);
        font-weight: 500;
        font-size: 18px;
    }
    .personal_details{
        flex-basis: 90%;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 0;
        /* border: 1px solid black; */
    }
    .personal_details div{
        /* border: 1px solid black; */
    }
    .content-contents{
        flex-basis: 100%;
        height: 24%;
        display: flex;
        flex-wrap: wrap;
        /* border: 1px solid black;  */
        /* align-content: ; */
    }
    .content-contents div{
        /* border: 1px solid black; */
    }
    .content-contents-first{
        /* font-size: px; */
        flex-basis: 100%;
        height: 25%;
        display: flex;
        justify-content: space-between;
    }
    .content-contents-first-first{
        font-weight: 700;
        color: hsl(213, 96%, 18%);
        flex-basis: 40%;
        height: 100%;
    }
    .content-contents-first-second{
        font-size: 13px;
    }
    .content-contents-second{
        flex-basis: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        /* border: 1px solid rgb(221, 219, 219); */
    }
    .inputs{
        flex-basis: 100%;
        height: 100%;
        padding-left: 20px;
        /* border-color: rgb(221, 219, 219); */
        border: 1px solid rgb(221, 219, 219);
        border-radius: 5px;
        /* border: none; */
        outline: none;
        font-size: 18px;
    }
    .inputs:focus{
        border: 1px solid hsl(243, 100%, 62%);
    }
    .content-second, .content-third, .content-fourth, .content-fifth{
        display: none;
    }
    .content-buttons{
        /* margin-bottom: -210px; */
        /* width: 90vw; */
        align-items: center;
        /* border-radius: 10px; */
        /* background-color: white; */
        height: 13%;
        padding-right: 3.5%;
        padding-left: 3.5%;
        background-color: white;
        /* height: 18%; */
        /* border: 1px solid black; */
        /* display: none; */
    }
    .content-buttons div{
        /* border: 1px solid black; */
    }
    .content-buttons-first{
        flex-basis: 40%;
        height: 20%;
        font-size: 18px;
        color: hsl(231, 11%, 63%);
        font-weight: 700;
    }
    .content-buttons-second{
        flex-basis: 25%;
        height: 50%;
        border-radius: 5px;
        font-weight: 700;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* padding-left: 35px; */
        /* margin: auto; */
        /* padding-left: 30px;
        padding-top: 15px; */
        /* box-sizing: border-box; */
    }
    .content-buttons-second, .content-buttons-first:hover{
        cursor: pointer;
    }
    .next-step-first-container{
        /* border: 1px solid black; */
        height: 13%;
        padding-right: 5%;
        /* padding-left: 5%; */
        background-color: white;
        flex-basis: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        /* display: none; */
    }
    .content-steps{
        background-color: white;
        border-radius: 10px;
        flex-basis: 93%;
        height: 70%;
        /* display: flex; */
        justify-content: center;
        align-items: space-between;
    }
    .content-steps div{
        /* border: 1px solid black; */
    }
    .content-second{
        height: 80%;
    }
    .content-second-contents{
        flex-basis: 90%;
        height: 70%;
        display: flex;
        align-self: start;
        justify-content: center;
        align-content: start;
        row-gap: 3%;
        flex-wrap: wrap;
        /* border: 1px solid black; */
    }
    .content-second-contents div{
        /* border: 1px solid black; */
    }
    .content-second-contents-options{
        flex-basis: 100%;
        height: 80%;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        /* border: 1px solid black; */
    }
    .content-second-contents-options-elements{
        flex-basis: 100%;
        height: 28%;
        display: flex;
        border-radius: 10px;
        border: 1px solid rgb(221, 219, 219);
        padding-left: 5%;
        column-gap: 10px;
        justify-content: start;
        align-items: center;
    }
    .content-second-contents-options-elements:hover{    
        cursor: pointer;
        border: 1px solid hsl(243, 100%, 62%);
    }
    .content-second-contents-options-elements div{
        /* border: 1px solid black; */
    }
    .plan-details{
        flex-basis: 60%;
        height: auto;
        /* border: 1px solid black; */
        display: flex;
        /* flex-grow: 1; */
        flex-wrap: wrap;
        align-content: start;
        row-gap: 5px;
        /* justify-content: start; */
    }
    .plan-details div{
        /* border: 1px solid black; */
    }
    .options-img{
        flex-basis: 20%;
        height: 70%;
        /* border: 1px solid black; */
        /* display: flex; */
        /* object-fit: contain; */
    }
    .options-img img{
        /* border: 1px solid black; */
        /* size: 200% 200%; */
        height: 90%;
        /* flex-basis: 33%;
        size: 100% 100%; */
    }
    .options-header{
        font-weight: 700;
        color: hsl(213, 96%, 18%);
        font-size: 17px;
        flex-basis: 80%;
        height: 30%;
    }
    .options-month-rate{
        flex-basis: 80%;
        font-size: 15px;
        height: 30%;
        color: hsl(231, 11%, 63%);
        display: flex;
    }
    .options-year-rate{
        flex-basis: 80%;
        font-size: 15px;
        height: 30%;
        color: hsl(231, 11%, 63%);
        display: none;
    }
    .options-year-offer{
        flex-basis: 80%;
        font-size: 15px;
        height: 30%;
        color: hsl(213, 96%, 18%);
        font-weight: 700;
        display: none;
    }
    .content-second-contents-time{
        background-color: rgb(238,245,255);
        flex-basis: 100%;
        height: 12%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plan_message_container{
        flex-basis: 100%;
        margin-top: 5%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
    }
    .plan_message{
        /* flex-basis: 45%; */
        height: 70%;
        text-align: center;
        font-size: 22px;
        color: red;
        /* border: 1px solid black; */
        display: none;
    }
    .content-second-contents-time div{
        /* border: 1px solid black; */
    }
    .monthly, .yearly{
        flex-basis: 30%;
        height: 42%;
        font-size: 18px;
        text-align: center;
        color: hsl(231, 11%, 63%);
        font-weight: 700;
    }
    .monthly{
        color: hsl(213, 96%, 18%);
    }
    .toggle{
        flex-basis: 11%;
        height: 42%;
        display: flex;
    }
    
    .switch {
        position: relative;
        display: inline-block;
        flex-basis: 100%;
        height: 100%;
        /* border: 1px solid black; */
      }
      .switch div{
        /* border: 1px solid black; */
      }
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #03295A;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 4px;
        top: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #03295A;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        /* -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px); */
        transform: translateX(19px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
    .content-third{
        height: 68%;
        align-content: start;
        row-gap: 3%;
    }
    .third-contents{
        height: 18%;
        flex-basis: 90%;
        border: 1px solid rgb(221, 219, 219);
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        /* border: 1px solid black; */
    }
    .third-contents:hover{
        cursor: pointer;
        border: 1px solid hsl(243, 100%, 62%);
    }
    .third-contents div{
        /* border: 1px solid black; */
    }
    .content-contents-container{
        flex-basis: 95%;
        height: 60%;
        /* border: 1px solid black;     */
        display: flex;
    }
    .content-contents-container div{
        /* border: 1px solid black; */
    }
    .content-contents-first-check{
        flex-basis: 18%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .addons-checkbox{
        flex-basis: 50%;
        height: 50%;
    }
    .content-contents-first-text{
        /* display: flex;
        flex-wrap: wrap;
        align-content: start; */
        flex-basis: 70%;
        /* height: 100%; */
        /* border: 1px solid black; */
    }
    .content-contents-first-text-first{
        flex-basis: 90%;
        height: 30%;
        font-size: 16px;
        color: hsl(213, 96%, 18%);
        font-weight: 700;
    }
    .content-contents-first-text-second{
        flex-basis: 100%;
        height: 30%;
        color: hsl(231, 11%, 63%);
        font-size: 14px;
    }
    .content-contents-first-price{
        flex-basis: 20%;
        display: flex;
        height: 100%;
        justify-content: end;
        align-items: center;
    }
    .price-container{
        /* flex-basis: 60%; */
        height: 30%;
        display: flex;
        /* border: 1px solid black; */
    }
    .price-monthly{
        flex-basis: 100%;
        height: 100%;
        color: hsl(243, 100%, 62%);
        /* font-size: 20px; */
        text-align: center;
        display: flex;
    }
    .price-yearly{
        flex-basis: 100%;
        height: 100%;
        color: hsl(243, 100%, 62%);
        /* font-size: 20px; */
        text-align: center;
        display: none;
    }
    .content-fourth{
        /* border: 1px solid black; */
        align-items: start;
    }
    .content-fourth div{
        /* border: 1px solid black; */
    }
    .content-fourth-contents{
        flex-basis: 90%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: center;
        row-gap: 10%;
        /* border: 1px solid black;     */
    }
    .content-fourth-contents div{
        /* border:1px solid black; */
    }
    .content-fourth-contents-items-container{
        background-color: rgb(238,245,255);
        flex-basis: 100%;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: center;
        align-items: center;
    }
    .content-fourth-contents-items-container div{
        /* border: 1px solid black; */
    }
    .final-plan-container{
        flex-basis: 90%;
        height: 35%;
        display: flex;
        color: hsl(213, 96%, 18%);
        font-weight: 700;
        border-bottom: 1px solid hsl(229, 24%, 87%);
        /* border: 1px solid black; */
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: space-between;
    }
    .final-plan-container div{
        /* border: 1px solid black; */
    }
    .final-plan{
        flex-basis: 50%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        row-gap: 5px;
        /* border: 1px solid black; */
    }
    .final-plan div{
        flex-basis: 100%;
        height: 30%;
        /* border: 1px solid black; */
    }
    .final-plan-header-container{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* border: 1px solid black; */
    }
    .final-plan-header-container div{
        /* border: 1px solid black; */
        flex-basis: auto;
        height: 90%;
        font-size: 16px;
        /* text-align: center; */
    }
    .final-plan-option{
        font-size: 16px;
        text-decoration: underline;
        color: hsl(231, 11%, 63%);
        font-weight: 500;
    }
    .final-plan-option:hover{
        cursor: pointer;
    }
    .final-plan-rate-container{
        flex-basis: 35%;
        height: 90%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .final-plan-rate{
        /* flex-basis: 28%; */
        height: 30%;
        font-size: 16px;
    }
    .final-plan-addons-container{
        flex-basis: 90%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
    }
    .plan_addon_container{
        flex-basis: 100%;
        height: 30%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        /* border: 1px solid black; */
        display: flex;
    }
    .plan_addon_container div{
        /* border: 1px solid black; */
    }
    .plan_addon_name{
        flex-basis: 60%;
        height: 100%;
        color: hsl(231, 11%, 63%);
    }
    .plan_addon_rate_container{
        flex-basis: 15%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        color: hsl(213, 96%, 18%);
        font-weight: 500;
    }
    .content-fourth-contents-total{
        flex-basis: 90%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid black; */
    }
    .content-fourth-contents-total div{
        /* border: 1px solid black; */
    }
    
    .total{
        flex-basis: 50%;
        height: 90%;
        font-size: 17px;
        display: flex;
        color: hsl(231, 11%, 63%);
        /* font-weight: 700; */
        /* border: 1px solid black; */
        /* text-align: end; */
    }   
    .total-price-container{
        flex-basis: 30%;
        height: 90%;
        font-size: 20px;
        color:hsl(243, 100%, 62%);
        font-weight: 700;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .total-price{
        flex-basis: 60%;
        height: 90%;
        text-align: end;
    }
    .next-step-fourth{
        background-color: hsl(243, 100%, 62%);
        color: hsl(229, 24%, 87%);
    }
    .content-fifth{
        /* border: 1px solid black; */
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-fifth div{
        /* border: 1px solid black;     */
    }
    .content-fifth-container{
        flex-wrap: wrap;
        flex-basis: 90%;
        height: 65%;
        display: flex;
        align-content: space-between;
    }
    .content-fifth-container div{
       flex-basis: 100%;
    }
    .content-fifth-img-container{
        height: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-fifth-img-container img{
        height: 100%;
    }
    .content-fifth-header{
        height: 10%;
        font-size: 25px;
        color: hsl(213, 96%, 18%);
        font-weight: 700;
        text-align: center;
    }
    .content-fifth-text{
        /* border: 1px solid black; */
        flex-basis: 100%;
        height: 50%;
        text-align: center;
        font-size: 18px;
        color: hsl(231, 11%, 63%);
        font-weight: 500;
    }
}